{% include 'header.html' %}

<header
  class="masthead"
  style="background-image: url('{{ user.masthead or url_for('static', filename='/assets/img/mastholder.jpg') }}')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center align-items-center">
      <div class="col-md-10 col-lg-8 col-xl-10">
        <div class="d-flex align-items-center justify-content-between">
          <!-- Left side: Profile photo and button -->
          <div class="profile-section text-center" style="flex-shrink: 0;">
            <img
              src="{{ user.avatar or url_for('static', filename='/assets/img/placeholder.jpg')}}"
              alt="Profile Photo"
              class="profile-photo mb-3"
              style="height: 250px; width: 250px; border-radius: 50%; object-fit: cover; border: 4px solid white; box-shadow: 0 4px 8px rgba(0,0,0,0.3);"
            />
            {% if current_user.id == user.id %}
            <div>
              <a href="{{ url_for('user.user_edit') }}"
                 class="btn btn-light btn-sm" style="font-weight: 600;">Edit Profile</a>
            </div>
            {% endif %}
          </div>

          <!-- Right side: Title and subheading -->
          <div class="site-heading text-end" style="flex-grow: 1; margin-left: 40px;">
            <h1>{{ user.name }}</h1>
              <span class="subheading mt-5">"{{ user.subtitle }}"</span>
            {% if current_user.is_authenticated %}
              <span class="subheading mt-5">{{ user.email }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      {% if current_user.id == user.id %}
      <div class="comment">
        <ul class="commentList">
        {% for comment in user.comments %}
          <li>
            <div class="commenterImage mx-2">
              <img src="{{ comment.author.avatar }}" />
            </div>
            <div class="commentText">
              {{ comment.text|safe }}
              <span class="date sub-text">{{ comment.author.name }}</span>
              {% with time = comment.create_time %}
                {% if time.date() == today %}
                  <span class="date sub-text">at {{ time.hour }}:{{ time.minute }}</span>
                {% else %}
                  <span class="date sub-text">at {{ time.date() }}, {{ time.hour }}:{{ time.minute }}</span>
                {% endif %}
              {% endwith %}
            </div>
          </li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</div>